*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea, select {
  background-color: rgba(255, 255, 255, 0.03);
  border: none;
}

::placeholder {
  color: #323232;
}

a {
  text-decoration: none;
}

body {
  height: 100dvh;
  background-color: rgba(24, 24, 24, 1);
}